.bg-navbar {
    background: #E8871E;
}

body {
    /* background-color: #EBF5DF; */
    /* background-color: #BAD4AA; */
    background-color: #EDB458;
    /* background-color: #D4D4AA; */
}

.container {
    margin-top: 3%;
    
}

.box {
    background-color: #EBF5DF; 
    min-height: 500px;
}