.bg-navbar {
    background: #E8871E;
}

body {
    /* background-color: #EBF5DF; */
    /* background-color: #BAD4AA; */
    /* background-color: #EDB458; */
    /* background-color: #D4D4AA; */
    /* background-color: #fcec8e; */
    /* background-color: whitesmoke; */
    background-color: white;
}



.container {
    margin-top: 3%;
    
}

.box {
    background-color: #EBF5DF; 
    min-height: 500px;
}
/* h1 { */
    /* text-align: center; */
    /* color:rgb(218, 152, 76); */
    /* background-color: black; */
/* } */

h3 {
    text-align: center;
}

h4.landing {
    text-align: center;
    color: white;    
}

h4.landing:hover {
  
    color: #ffeac7;  
}

h5.landing {
    text-align: center;
    color: white;    
}

h6.landing {
    text-align: center;
    color: white;
  
}

/* IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    max-width: 600px;
     } */


IMG.panel {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%; 
    padding-top: 2%;
    width: 150px;
    height: 150px;
    z-index: 2;
    

}

IMG.panel:hover {
  transform: scale(1.2);
    

}


/* .row1 {
    background-image: url("../../images/rest2.png");
}
 */



body.background {
    
    background-image: url("../../images/landingbackground2.jpg");
    background-color: brown;
    max-width: 100%;
    height: auto;
    z-index: -1;
    
}

p.copyright {
    color: grey;
    text-align: center;
    vertical-align: baseline;
    margin-top: 3%;
    
}


html,
body,
#map-id {
    height: 100%;
    padding: 0;
    margin:0;}