<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

  <!-- Styles CSS -->
  <link rel="stylesheet" href="../static/css/styles.css">

  <title>Cuisines</title>
  <link rel="shortcut icon" type="image/jpg" href="../static/favicon3.png" />
</head>

<body class="background2">

  <body>


    <!-- Navbar  -->

    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgb(156, 4, 4);">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <img src="../static/favicon.svg" alt="" width="35">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/restaurantfinder">Restaurant Finder</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/borocuisines">Cuisines</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/violationdata">Violations</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/othergraphs">Food Fortune</a>
            </li>

          </ul>

        </div>
      </div>
    </nav>



    <div class="container">
      <div class="row">
        <div class="col-md-12 jumbotron text-center">
          <h1>NYC Cuisines by Borough</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="well">
            <h4>Borough Eats</h4>
            <select id="selDataset" onchange="optionChanged(this.value)"></select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div id="pie"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div id="borochart"></div>
        </div>
        <!--div class="panel panel-primary"-->
        <div class="col-md-6">
          <div class="panel-heading">
            <h5 class="panel-title"><b>Top 5 Violations in this Borough</b></h5>
          </div>
          <div id="sample-metadata" class="panel-body"></div>
        </div>
        <!--/div-->
        <!--div class="col-md-6">
            <div id="toptenqueens"></div>
            </div-->
      </div>
      <!--div class="row">
        <div class="col-md-6">
              <div id="toptenbronx"></div>
              </div>
            <div class="col-md-6">
                 <div id="toptenbrooklyn"></div>
                 </div>
                 </div>
      <div class="row">
          <div class="col-md-6">
                <div id="toptenstatenisland"></div>
                    </div>
                    </div-->
      <div class="row">
        <!--div class="col-md-12">
          <div id="bubble"></div-->

        <div class="col-md-12">
          <div id="gauge"></div>
        </div>

      </div>

      <script src="https://d3js.org/d3.v5.min.js"></script>
      <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
      <script src="../static/js/Boro1.js"></script>
      <script src="../static/js/Boro2.js"></script>
      <div class="container">

      </div>






      <!-- JavaScript: Bootstrap Bundle with Popper -->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>


  </body>

</html>