<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Bellybutton Biodiversity</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  
  <script src="https://d3js.org/d3.v5.min.js"></script>
</head>

<body>
<div class="row">
    <div class="col-md-12 jumbotron text-center" style="background-color: rgb(80, 4, 4)">
     
      <h1 style="color: rgba(238, 231, 232, 0.938);">Restaurant Finder</h1>
      <p style="font-style:italic; color: rgba(238, 231, 232, 0.938); font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">Eating good in your neighborhood!</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <div class="well">
        <h5>Select Cuisine:</h5>
        <select id="selDataset" onchange="optionChanged(this.value)"></select>
      </div>
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Restaurants:</h3>
        </div>
        <div id="sample-metadata" class="panel-body"></div>
      </div>
    </div>
    <div class="col-md-5">
      <div id="bar"></div>
    </div>
    <div class="col-md-5">
      <div id="gauge"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div id="bubble"></div>
    </div>
  </div>
</div>

<script src="../static/trial.js"></script>

<!--<script src="./static/js/bonus.js"></script>-->

</body>

</html>